<div class="ui one column page grid">
  <div class="ui grid">
    <div class="row">
      <div class="six wide column"></div>
      <div class="eight wide column" style="margin-top: 20px;">
        <a class="ui teal icon huge button" href="#/projects/new">Add New Project</a>
      </div>
    </div>
    <div class="row">
      <div class="sixteen wide column">
      <table class="ui table segment">
      <thead>
        <tr>
          <th>Name</th>
          <th>Company</th>
          <th>Description</th>
          <th>Created At</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
      {{#each this}}
        <tr>
          <td>{{ name }}</td>
          <td>{{ company }}</td>
          <td>{{ description }}</td>
          <td>{{ prettyDate created_a t}}</td>
          <td>
            <a class="edit-button" href="#/projects/{{ id }}/edit">
              <i class="edit large icon"></i>
            </a>
            <a id="{{ id }}" class="edit-button" href="#">
              <i class="icon large remove"></i>
            </a>
          </td>
        </tr>
      {{/each}}
      </tbody>
    </table>
  </div>
  </div>
</div>
