<div class="ui feed segment piled">
  <div class="event">
    <div class="label"></div>
    <div class="content">
      <div class="date">
        {{timeago created_at}}
      </div>
      <div class="summary">
        <a href="#projects/{{id}}/edit" style="color: black;"><h3>{{name}}</h3></a>
      </div>
      <div class="extra text">
        {{truncate description}}
      </div>
      <a id="{{id}}" class="edit-button" href="javascript:void(0);" style="float: right;">
        <i class="icon large remove confirm"></i>
      </a>
    </div>
  </div>
</div>
<br>
