<div class="ui large menu inverted">
  <div class="item">
    <div class="brand">
      <a href="#">Agile2G<i class="time icon"></i>
      </a>
    </div>
  </div>
  {{#if current_user.signed_in }}
    <a class="item" href="#projects">{{ t 'project.title.other' }}</a>
    <a class="item" href="#sprints">{{ t 'sprint.title.other' }}</a>
    <a class="item" href="#tasks">Tasks</a>
    <a class="item" href="#dashboard">Dashboard</a>
  {{/if }}
  <div class="right menu">
    <div class="item">
      <div class="ui icon input">
        <input type="text" placeholder="Search">
        <i class="search link icon"></i>
      </div>
    </div>
    {{#if current_user.signed_in }}
      <div class="ui dropdown item">
       <i class="icon settings"></i>
        <div class="menu">
          {{#unless current_user.provider }}
            <a class="item" href="#users/{{ current_user.id  }}/edit"><i class="edit icon"></i> Edit Profile</a>
          {{/unless }}
          <a id="sign-out" class="item" href="#sessions/destroy"><i class="sign out icon"></i>{{ t 'sign_out' }}</a>
        </div>
      </div>
     {{ else }}
     <div class="item">
        <div class="ui teal button">
          <i class="sign in icon"></i>
          <a href="#sessions/new">{{ t 'sign_in' }}</a>
        </div>
      </div>
    {{/if }}
  </div>
</div>
