<div class="ui large menu inverted">
  <div class="item">
    <div class="brand">
      <a href="#">Agile2G<i class="time icon"></i>
      </a>
    </div>
  </div>
  {{# if current_user.signed_in }}
    <div class="item">
      <a href="#projects">{{ t 'project.title.other' }}</a>
    </div>
    <div class="item">
      <a href="#sprints">{{ t 'sprint.title.other' }}</a>
    </div>
    <div class="item">
      <a href="#tasks">Tasks</a>
    </div>
  {{/if}}
  <div class="right menu">
    <div class="item">
      <div class="ui icon input">
        <input type="text" placeholder="Search">
        <i class="search link icon"></i>
      </div>
    </div>
    {{# if current_user.signed_in }}
      <div class="item">
        <div class="ui red button">
          <i class="sign out icon"></i>
          <a href="#sessions/destroy">{{ t 'sign_out' }}</a>
        </div>
      </div>
     {{ else }}
     <div class="item">
        <div class="ui teal button">
          <i class="sign in icon"></i>
          <a href="#sessions/new">{{ t 'sign_in' }}</a>
        </div>
      </div>
    {{/if}}
  </div>
</div>
