<div class="ui one column page grid">
  <div class="ui grid">
    <header class="row">
    <div class="sixteen wide column">
      <div class="ui segment">
        {{#if current_user.id}}
          <h1>Edit Account</h1>
        {{else}}
          <h1>{{ t 'sign_up' }}</h1>
        {{/if}}
      </div>
    </div>
    </header>
    <div class="row">
      <div class="sixteen wide column"></div>
      <div class="eight wide column">
        <div class="ui form segment">
          <form class="ui form segment">
            <div id="name_input" class="field">
              <label>{{ t 'user.name' }}</label>
              <div class="ui left labeled icon input">
                <input id="name" value="{{current_user.name}}" placeholder="{{ t 'user.name' }}" type="text">
                <i class="user icon"></i>
                <div class="ui corner label"><i class="icon asterisk"></i></div>
              </div>
            </div>
            <div id="email_input" class="field">
              <label>{{ t 'user.email' }}</label>
              <div class="ui left labeled icon input">
                <input id="email" value="{{current_user.email}}" autofocus="autofocus" placeholder="{{ t 'user.email' }}" type="email">
                <i class="mail icon"></i>
                <div class="ui corner label"><i class="icon asterisk"></i></div>
              </div>
            </div>
            <div id="password_input" class="field">
              <label>{{ t 'user.password' }}</label>
              <div class="ui left labeled icon input">
                <input id="password" value="{{current_user.password}}" placeholder="{{ t 'user.password' }}" type="password">
                <i class="lock icon"></i>
                <div class="ui corner label"><i class="icon asterisk"></i></div>
              </div>
            </div>
            <div id="password_confirmation_input" class="field">
              <label for="password-confirmation">{{ t 'user.password_confirmation' }}</label>
              <div class="ui left labeled icon input">
                <input id="password-confirmation"  placeholder="{{ t 'user.password_confirmation' }}" type="password">
                <i class="lock icon"></i>
                <div class="ui corner label"><i class="icon asterisk"></i></div>
              </div>
            </div>
            {{#unless current_user.id}}
            <div class="inline field">
              <div class="ui checkbox">
                <input type="checkbox">
                <label>{{ t 'agree_term' }}</label>
              </div>
            </div>
            {{/unless}}
            {{#if current_user.id}}
              <input class="ui orange submit button large right floated" name="commit" type="submit" value="{{ t 'save' }}">
            {{else}}
              <input class="ui orange submit button large right floated" name="commit" type="submit" value="{{ t 'sign_up' }}">
            {{/if}}
          </form>
          {{#unless current_user.id}}
            <div class="ui horizontal clearing divider">Or</div>
            <div class="ui fluid large facebook button">
              <i class="facebook icon"></i>
              {{ t 'facebook' }}
            </div>
            <div class="ui fluid large twitter button">
              <i class="twitter icon"></i>
              {{ t 'twitter' }}
            </div>
            <div class="ui fluid large google plus button">
              <i class="google plus icon"></i>
              {{ t 'google' }}
            </div>
          {{/unless}}
        </div>
      </div>
      <div class="eight wide column">
        <div class="ui segment">
          <div class="row">
            <div class="sixteen wide column">
              {{#if current_user.id}}
                <h1>Unhappy with Agile2Go?</h1>
              {{else}}
                {{ t 'registrations.sign_in_option' }}
              {{/if}}
            </div>
          </div>
          <div class="row">
            <div class="sixteen wide center aligned column">
              {{#if current_user.id}}
                <div class="ui negative button large">
                  <a href="#users/{{current_user.id}}">Cancel my account</a>
                </div>
              {{else}}
                <div class="ui teal button large">
                  <a href="#sessions/new">{{ t 'sign_in' }}</a>
                </div>
              {{/if}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
