<div class="ui items">
  <div class="item">
    <div class="content">
      <div class="meta">{{ timeago created_at }}</div>
      <div class="name">{{ title  }}</div>
      <h3 class="description">{{ status }}</h3><hr>
      <p class="description">{{ story }}</p>
    </div>
    <div class="extra">
      deadline {{ diffDate sprint.end_date }}
    </div>
  </div>
</div>
