<div class="ui items">
  <div class="item">
    <div class="content">
      <div class="meta">{{ timeago created_at }}</div>
      <div class="name"><a href="#tasks/{{ id }}/edit" style="color: black;">{{ title  }}</a></div>
      <h3 class="description">{{ status }}</h3>
      <hr>
      <p class="description">{{ story }}</p>
    <div class="extra">
      {{ points }} Points -
      <a id="{{ id }}" class="edit-button" href="javascript:void(0);">
        <i class="icon trash confirm"></i>
      </a>
    </div>
  </div>
</div>
