<div class="two column stackable ui grid">
  <div class="column">
    <div class="ui form segment">
      <h1>{{ t 'sign_in' }}</h1>
      <form class="ui form segment">
        <div id="email_input" class="field">
          <label>{{ t 'user.email' }}</label>
          <div class="ui left labeled icon input">
            <input autofocus="autofocus" id="email" placeholder="Email" type="email">
            <i class="mail icon"></i>
            <div class="ui corner label"><i class="icon asterisk"></i></div>
          </div>
        </div>
        <div id="password_input" class="field">
          <label>{{ t 'user.password' }}</label>
          <div class="ui left labeled icon input">
            <input id="password" placeholder="{{ t 'user.password' }}" type="password">
            <i class="lock icon"></i>
            <div class="ui corner label"><i class="icon asterisk"></i></div>
          </div>
        </div>
        <input class="ui orange submit button fluid large right floated" name="commit" type="submit" value="{{ t 'sign_in' }}">
      </form>
      <div class="ui horizontal clearing divider">Or</div>
      <a href="/auth/twitter" class="ui fluid large twitter button">
        <i class="twitter icon"></i>{{ t 'twitter' }}
      </a>
      <a href="/auth/facebook" class="ui fluid large facebook button">
        <i class="facebook icon"></i>{{ t 'facebook' }}
      </a>
      <a href="/auth/google" class="ui fluid large google plus button">
        <i class="google plus icon"></i>{{ t 'google' }}
      </a>
      <a href="/auth/github" class="ui fluid large github black button">
        <i class="github sign icon"></i>Github
      </a>
    </div>
  </div>
  <div class="column">
    <div class="ui segment">
      <div class="row">
        <div class="sixteen wide column aligned center">
          {{ t 'sessions.sign_up_or_try' }}
        </div>
      </div>
      <div class="row">
        <div class="sixteen wide center aligned column">
          <div class="ui button teal large">
            <a href="#users/new">{{ t 'sign_up' }}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
