<div class="ui one column page grid">
  <div class="ui grid">
    <header class="row">
    <div class="sixteen wide column">
      <div class="ui segment">
        <h1>Sign In</h1>
      </div>
    </div>
    </header>
    <div class="row">
      <div class="sixteen wide column"></div>
      <div class="eight wide column">
        <div class="ui form segment">
          <%= form_for @session do |f| %>
            <div class="field">
              <%= f.label :email %>
              <div class="ui left labeled icon input">
                <%= f.email_field :email, autofocus: true, placeholder: "Email" %>
                <i class="mail icon"></i>
                <%= label_asterisk %>
              </div>
            </div>
            <div class="field">
              <%= f.label :password %>
              <div class="ui left labeled icon input">
                <%= f.password_field :password, placeholder: "Password" %>
                <i class="lock icon"></i>
                <%= label_asterisk %>
              </div>
            </div>
            <%= f.submit 'Sign In', class: 'ui teal submit button large right floated' %>
          <% end %>
          <div class="ui horizontal clearing divider">Or</div>
          <div class="ui fluid large facebook button">
            <i class="facebook icon"></i>
            Facebook
          </div>
          <div class="ui fluid large twitter button">
            <i class="twitter icon"></i>
            Twitter
          </div>
          <div class="ui fluid large google plus button">
            <i class="google plus icon"></i>
            Google
          </div>
        </div>
      </div>
      <div class="eight wide column">
        <div class="ui segment">
          <div class="row">
            <div class="sixteen wide column">
              <h1 class="delta">No account yet? Register or try it now</h1>
              <p>Are you ready to have your menu in all languages you want, on the web and any smartphone? Sign up now to start receiving notifications! Don't want to register yet another account? You can try it!</p>
            </div>
          </div>
          <div class="row">
            <div class="sixteen wide center aligned column">
              <div class="ui buttons">
                <div class="ui button orange large">
                  <%= link_to 'Sign Up', new_user_path  %>
                </div>
                <div class="or"></div>
                <div class="ui positive button large">Try it</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
