<!DOCTYPE html>
<html>
<head>
  <title>Agile2Go - Project Managment</title>
   <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
   <![endif]-->
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= yield(:head) %>
</head>
<body>
  <div id="menu"></div>
  <br>
  <div id="messages"></div>
  <br>
  <div class="ui one grid page">
    <div class="column">
      <div id="container"></div>
    </div>
  </div>
  <div id="fb-root"></div>
  <%= render 'layouts/footer' %>

  <%= javascript_include_tag "#{fayejs_path}/faye.js" %>
  <%= javascript_include_tag "application" %>
  <%- unless test? %>
    <script>
      (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>
  <%- end %>
  <script type="text/javascript">
    I18n.defaultLocale = "<%= I18n.default_locale %>";
    I18n.locale = "<%= I18n.locale %>";
    fayejsPath = "<%= fayejs_path %>";
  </script>
  <%= yield %>
</body>
</html>
