<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? yield(:title) : "Agile2Go - Project Managment" %></title>
   <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
   <![endif]-->
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= yield(:head) %>
</head>
<body>
  <div id="menu"></div>
  <div id="messages"></div>
  <div id="container"></div>
  <br>
  <%= yield %>
  <script>
    App.init({
      current_user: <%= current_user.to_json.html_safe %>,
      user_signed_in: <%= user_signed_in?.to_json.html_safe %>
    });
  </script>
  <%= render 'layouts/footer' %>
</body>
</html>
